.header-area {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 999;
}
/* For Swiper Slide Customization */

.swiper-container {
  width: 100%;
  height: 100%;
}

/* Center slide text vertically */

.swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Swiper Navigation & Pagination */

.swiper-pagination-bullet-active {
  background-color: #f44336 !important;
}

.swiper-button-next,
.swiper-button-prev {
  color: #f44336 !important;
  top: 82% !important;
  background-color: #fff;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  cursor: pointer !important;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 18px !important;
  font-weight: bold;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #81b29a;
  border-radius: 6px;
}

html {
  scroll-behavior: smooth;
}
